pandas==2.2.2
numpy==1.26.4
simpy==4.0.2
matplotlib==3.9.1.post1
streamlit==1.37.0
streamlit_folium==0.22.0
folium==0.17.0
ipykernel==6.29.5
ipython==8.27.0
wordcloud==1.9.3
openpyxl
nbformat>=4.2.0
fiona==1.9.0
supabase==2.8.1
spacy==3.7.4
st-gsheets-connection==0.1.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm